@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 20px;
  height: 1024px;
}

.Header{
  display: flex;
  width: 1392px;
  height: 101px;
  padding: 0px 25px 0px 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--Rounded, 20px);
  background: var(--Primary, lightgrey);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.Header{
  display: flex;
  width: 1343px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.Header h1{
  color: var(--Text, #000);
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy;
  font-size: 25px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.Header p{
  display: inline;
  width: 303px;
  justify-content: space-between;
  align-items: center;
}

.Header ul {
  display: flex; /* Display the list horizontally */
  list-style: none; /* Remove the default bullet points */
  padding: 0;
  margin: 0;
}

.Header li {
  margin-right: 20px; /* Adds space between each list item */
}

.AboutMe{
  width: 565px;
  height: 479px;
  flex-shrink: 0;
  border-radius: var(--Rounded, 20px);
  background: var(--Primary, lightgrey);
  margin-top: 21px;
}

.AboutMe h1{
  color: var(--Text, #000);
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy;
  font-size: 25px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  height: 119px;
  flex-shrink: 0;
}

.AboutMe p{
  color: var(--Text, #000);
  font-family: Gilroy;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 56px */
  color: var(--Text, #000);
  font-family: Gilroy;
  font-size: 56px;
  font-style: italic;
  font-weight: 300;
  line-height: 100%;
}


.potriat{
  width: 355px;
  height: 556px;
}

.slider-container{
  width:100vw;
  overflow:hidden;
  position: relative;
}

.button-container{
  display: flex;
  width: max-content;
  animation: slideinfinte 10s linear infinite;
}

.skill-button{
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #06f561;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}


/* Animation for sliding from right to left */
@keyframes slideinfinte {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-90%);
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
